<noscript style="width: 100%;height:110%;position:absolute;z-index: 99999;background-color:#00b2c8  ">
    <p class="text-center" style="font-size: 1.76rem;height: 50%;transform: translateY(90%);">Veuillez activer javascript pour pouvoir utiliser cette page</p>
</noscript>